.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:40% ;
    height:60px;
    border: 1px solid var(--c-border-color);
    margin: 5px;
    background-color: var(--c-primary);
    column-gap: 8px;
    border-radius: 2px;
}