.icons{
    display: flex;
    flex-direction: row;
    column-gap: 6px;
    font-size: 18px;
    padding-left: 15px;

}
.button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;

}