.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--c-border-color);
    background-color: var(--c-primary);
    cursor: pointer;
    justify-content: space-around;
    width: 300px;
    height: 40px;
    padding: 10px 112px 10px 37px;
    border-radius: 18px;
    margin-top: 50px;
}