.photo{
    flex-shrink:0;
    cursor: pointer;
    outline: none;
}
.img {
    display: block;
    border-radius: 99px;
    width: 100%;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.border{
    border: 2px solid var(--c-story-border-color);
    border-radius: 99px;
}