.photo{
    flex-shrink:0;
    cursor: pointer;
}


.img {
    display: block;
    border-radius: 99px;
    width: 100%;
}
.border{
    border: 2px solid var(--c-story-border-color);
    border-radius: 99px;
}