.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 12px 9px 4px 15px;
}
.body{
    display: block;
    padding-left: 9px;
}
.icon{
    margin-left: auto;
    cursor: pointer;
}
.unflat{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}