.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.body{
    display: block;

}
.icon{
    margin-left: auto;
    cursor: pointer;
}
.unflat{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
}