.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--c-primary);
    height: 30px;
    border-bottom: 1px solid var(--c-border-color);
}
.logo{
    font-size: 14px;
    color: deeppink;
    font-weight: bold;
}