.post{
    width:100% ;
    height: auto;

    background-color: var(--c-primary);

}
.profile{
    padding: 12px 9px 4px 15px;
}
.img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.cont{
    padding: 5px;
}