@import 'variables.css';

* {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
}
html{
    font-size: 12px;
}
body {
    color: var(--c-text-color);
    background-color: var(--c-background-color);
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}